{% extends "base.html" %}

{% block title %}
{{ issue }}
{% endblock %}

{% block main %}
<div class="issue">

<h2>{{ issue }}</h2>

<p class="created-at-by">
    Created at {{ issue.created_at }} by {{ issue.created_by }}.
</p>

<p class="type">
    Issue type: {{ issue.issue_type.title }}.
</p>

<div class="description">
    {{ issue.description_html|safe }}
</div>

<p class="resolution">
    Resolution: {{ issue.resolution.title }}
</p>

<h2>Screenshots</h2>

{% for screenshot in screenshots %}
<div class="screenshot">
<img src="{{ screenshot.screenshot.url }}" alt="Screenshot" width="100%">
</div>
{% endfor %}

<p>
    <a href="{% url 'screenshot' issue_id=issue.id %}">Add a screenshot</a>
</p>

<h2>Comments</h2>

{% for comment in comments %}
<div class="comment">
<h3>{{ comment.title }}</h3>

<div class="comment-description">
    {{ comment.description_html|safe }}
</div>
</div>

{% endfor %}

<h2>Add a comment</h2>

<form action="{% url 'comment' issue_id=issue.id %}" method="post">
    {% csrf_token %}
    {{ add_comment_form }}
    <div><input type="submit" value="Add comment"></div>
</form>

</div>
{% endblock %}